<link rel="stylesheet" href="/css/admin.css">

<h1>Admin Page</h1>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <img src="/images/brooke-cagle--uHVRvDr7pg-unsplash.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Student Details</h5>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a href="/admin/students" class="btn btn-primary">Click Here...</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img src="/images/student-849822_1280.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Placement-Cell</h5>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a href="/admin/placementCell" class="btn btn-primary">Click Here...</a>
      </div>
    </div>
  </div>
</div> 